body {
    background-color: black;
}
#p2{
    margin-top: 20px;
}
.szoveg{
    color: aliceblue;
    text-align: left;
    font-size: large;
    line-height: 35px;
    width: 300px;
    padding-left: 30%;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}
img{
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 2px;
    width: 500px;
    float: right;
    margin-right: 4%;
    margin-top: 100px;
}   